
body{
	margin:0;
	font-family: 'Poppins', sans-serif;

}
h1{
	font-size: 50px
    }
h2{
	font-size: 30px
	}
h3{
	font-size: 30px
}
h3{
	font-size: 20px
}
p{
	font-size: 14px;
	color: gray
}
.orange-highlight{
    color: sandybrown;
}
.half-width{
	float: left;
	width: 40%;
	margin-left: 5%;
	padding-left: 2%;
}
.half-width img{
	width: 100%;
}
.top-bg-image{
	background: url('../images/top-banner.png');
	background-repeat: no-repeat;
}
section{
	height: 500px;
	margin-bottom: 150px
}
.top-link-button{
	text-decoration: none;
	background-image: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 20px;
	color: #ffff;
	border-radius: 5px;
	font-size: 12px
}
.top-bg-image{
	background: url('../images/top-banner.png');
	background-repeat: no-repeat;
}
.dream-area{
	background: url('../images/dream-bg.png');
	background-repeat: no-repeat;
	background-position: right;
}
.single-experience{
	box-shadow: 10px 15px 40px gray;
	border-radius: 5px;
	height: 60%;
	background-color: #ffff;
	margin-left: 6%
}
.experiences_area{
	background: url('../images/exp-bg.png');
	background-repeat: no-repeat;
	background-position: left;

}
#full-stact{
	border-left: 5px solid;
	border-image: linear-gradient(180deg, lightsalmon, tomato);
	border-image-slice:  1;
}
#junior-web{
	border-left: 5px solid;
	border-image: linear-gradient(180deg, blue, cyan);
	border-image-slice:  1;
}
footer p{
	text-align: center;
	font-size: 13px;
}